.Counter {
  margin-top: 20px;
  text-align: center;
  h2 {
    font-size: 18px;
  }
  .btn-group {
    margin-top: 8px;
    .btn {
      margin-right: 8px;
      border: 1px solid #eeeeee;
    }
  }
  .stamp {
    line-height: 1.75;
    i {
      color: blue;
    }
  }
}