@import './form.scss';

button, .btn {
  display: inline-block;
  cursor: pointer;
  min-width: 48px;
  border: 1px solid #eee;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}