$gray-border: 1px solid #eee;

.App {
  width: 30rem;
  padding: 1rem 1rem 2rem 1rem;
  border: $gray-border;
  margin:  0 auto;
  .App-title {
    padding: 0.5rem 0;
  }
  .SearchableBar {
    padding-bottom: 1rem;
    border-bottom: $gray-border; 
  }
}

.SearchBar {
  .form-group {
    margin-bottom: 0.875rem;
    font-size: .875rem;
    outline: none;
    .u-input {
      padding: 0.2rem 1rem;
      outline: none;
      &:focus {
        border-color:#1067d7;
      }
    }
  }
}

.FilterableProductTable {
  .table {
    width: 100%;
    .thead {
      text-align: left;
    }
    th, td {
      width: 50%;
      &.caption {
        width: 100%;
      }
    }
    .caption {
      text-align: left;
      padding: 0.875rem 0;
    }
  }
}
