.App {
  width: 80%;
  max-width: 64rem;
  min-width: 20rem;
  padding: 2rem;
  margin: 1rem auto;
  border: 1px solid #eee;
  .PostForm {
    padding-top: 2rem;
    .PostForm-title {
      padding-bottom: 2.5rem;
    }
    .form-control {
      display: block;
      width: 98.2%;
    }
    .submit-group {
      text-align: right;
    }
  }
  .Posts {
    padding-top: 2.5rem;
    .Posts-title {
      margin-bottom: 2.5rem;
    }
  }
  .Post-item {
    margin: 1.6rem 0;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #eee;
    .Post-title {
      margin-bottom: .875rem;
    }
    p {
      text-indent: 1.6rem;
      line-height: 1.5;
      transform:capitalize;
      text-align: justify;
    }
  }
}