.react-router-demo05 {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
  .example-navbar {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
  }
  .nav-link-active {
    color: red;
  }
  .ShowProperties {
    font-size: 12px;
  }
}